<% content_for :title do %>
  SportMe | Coach Profile
<% end %>

<div class='form container'>
  <div class='header header-flex'>
    <h2>Edit coach profile</h2>
    <%= link_to "Back", :back, class:"back-btn" %>
  </div>
  <%= render "form", coach_profile: @coach_profile, user: @user %>
</div>
