
<div class="container">
<h2>Coach Profile Page</h2>
  <div class="user-information m-2 p-2">
    <div class="profile d-flex">
      <div class="profile-picture m-2 p-2">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
      <div class="profile-description  m-2 p-2">

        <p>Coach profile description: <%= @coach_profile.description %></p>
        <p>Coach's sport: <%= @coach_profile.sport.name %></p>
      </div>
    </div>
    <div class="image-container d-flex p-2 m-2">
      <div class="images">
        <img src="https://via.placeholder.com/150" alt="">
        <img src="https://via.placeholder.com/150" alt="">
        <img src="https://via.placeholder.com/150" alt="">
      </div>
    </div>
  </div>
  <hr>
  <% if policy(@coach_profile).destroy? %>
  <div class="user-action">
    <%= link_to 'edit', edit_user_coach_profile_path, class: "btn btn-primary"  %>
    <%= link_to "Delete",
                          user_coach_profile_path(@user),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-danger" %>
  </div>
  <% end %>
</div>
