.coach-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coach-banner {
  background-size: cover;
  background-position: center;
  height: 250px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.coach-profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.profile-picture {
  position: relative;
  top: -40px;
}

.favorite-tag {
  margin-top: 20px;
}

.user-action {
  position: relative;
  top: 30px;
}

.coach-profile {
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
}

.user-information p {
  font-size: 16px;
}

.coach-badges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
  height: 100px;
}

.coach-badge {
  height: 100%;
  width: 33%;
  object-fit: contain;
}

.dividing-line {
  border-top: 3px solid #bbb;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.coach-credentials {
  justify-content: space-between;
  align-items: initial;
  padding: 48px 24px;
}

.coach-credentials li {
  margin: 5px;
  text-align: justify;
  text-justify: in;
}

.coach-profile-header {
  color: var(--primary-color);
}

.coach-training-images-container {
  padding: 24px 24px;
  align-items: center;
}

.coach-training-images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

.coach-training-image {
  object-fit: contain;
  height: 50%;
  margin: 5px;
  padding: 5px;
}

.coach-reviews-container {
  padding: 24px 24px;
  margin-bottom: 12px;
}

.fa-bookmark {
  color: var(--primary-color);
  font-size: 2rem;
  margin-left: 1rem;

  &:hover {
    color: var(--primary-light-color);
  }
}

@media (max-width: $breakpoint-width-bootstrap-sm) {
  // .coach-credentials {
  //   display: block;
  // }

  .coach-profile {
    display: block;
  }

  .coach-badges {
    padding-left: 0px;
    justify-content: center;
  }

  .coach-badge img {
    max-width: 100%
  }
}
