// Specific CSS for your home-page
.form-group {
  button {
    margin: 1rem 0;
  }
}

.search-btn {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  height: 3rem;
  width: 15rem;
  padding: 8px 24px;
  border-radius: 4px;
  transition:300ms ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.container > h3 {
  padding-top: 70px;
  font-size: 40px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
}

.container > h1 {

  color: white;
}


.orange-line {
    width: 0.125rem;
    height: 5.625rem;
    background-color: #ff5d03;
    position: absolute;
    top: 49rem;
    left: 50%;
    right: 50%;

}
