<h1>Welcome to Sports page</h1>

<div class="container">
  <div class="row">
    <% @sports.each do  |sport| %>
      <div class="col-4 sport-card border text-center">
        <%= link_to sport.name.capitalize, sport_coaches_path(sport) %>
      </div>
      <% end %>
  </div>
</div>
