<div class="container">
  <h1>All Sports</h1>
  <div class="row">
    <div class="sport-cards">
      <% @sports.each do |sport| %>
        <div class="border text-center sport-card" style="background-image: url(<%= url_for(sport.picture_url) %>);">
          <%= link_to sport.name.capitalize, sport_coaches_path(sport) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
