<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class='footer-copyright'>
    <span class="material-icons mr-1">copyright</span>
    <span>SportMe 2021. All rights reserved</span>
  </div>

  <div class="footer-subscribe">
    <h2>Get updates</h2>
    <div class="input-group mb-3 ">
      <input type="text" class="form-control" placeholder="Enter your e-mail address" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary-footer" type="button" id="button-addon2">Submit</button>
      </div>
    </div>
  </div>
</div>
