<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="light-mode-toggle">
  <label class="custom-control-label" for="light-mode-toggle">Toggle Light mode</label>
</div>