<label class='light-mode-toggle-label'>
  <input class='light-mode-toggle' type='checkbox' id="light-mode-toggle"></input>
  <div class='toggle-slot'>
    <div class='sun-icon-wrapper'>
      <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
    </div>
    <div class='toggle-button'></div>
    <div class='moon-icon-wrapper'>
      <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
    </div>
  </div>
</label>