<div class="container">
  <h1 class="header">My Chats</h1>
  <% @chats.each do |chat| %>
    <% unless chat.messages.empty? %>
      <%= link_to chat.name, coach_chat_path(chat.coach, chat.id) %>
    <% end %>
  <% end %>
</div>
