<div class="banner-container">
  <div class="banner-details">
    <h1><strong>JOIN THOUSANDS WHO ARE PICKING UP A NEW SPORT EVERYDAY</strong></h1>
    <div class="banner-sub-details">
      <p>CHANGE YOUR BODY. CHANGE YOUR MIND. GET THE NEW FITNESS EXPERIENCE THAT WILL CHANGE YOUR LIFE.</p>
    </div>
    <%= link_to "FIND A SPORT NEAR ME!", locations_path, class:"search-btn btn btn-flat banner-btn" %>
  </div>
</div>
