<div class="info d-flex w-75 border border-primary justify-content-center">
  <div class="image w-50 col-6">
    <%= cl_image_tag("https://res.cloudinary.com/dcwfy3dua/image/upload/v1641991390/sportmelite/coach_qujhxl.png", width: 200, height: 200, crop: :fill) %>
  </div>
  <div class="description w-50 col-6">
    <h3>Share Your Skill</h3>
  </div>
</div>
