<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dcwfy3dua/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1640002842/sportmelite/pexels-li-sun-2294361_ob5hiw.jpg');">
  <div class='landing-navbar'>
    <%= render 'shared/navbar' %>
  </div>
  <%= render 'banner' %>
</div>
<%= render 'carousell' %>
