<div class="banner">
  <div class='landing-navbar'>
    <%= render 'shared/navbar' %>
    <%= render 'shared/modeswitch' %>
  </div>
  <%= render 'banner' %>
  <div id="homeScrollBtn">
      <i class="fas fa-angle-double-down"></i>
  </div>
</div>
<%= render 'carousel' %>
