 <div data-lesson-target='lessonsList'>
    <% if @lessons.empty? %>
      <div class='lesson-header-links'>
        <h4>No lessons available</h4>
      </div>
      <% else %>
        <div>
          <% date = "" %>
          <% @lessons.each do |lesson| %>
            <% if lesson.start_date_time.strftime("%d %b %Y") != date %>
              <div class='accounts-date-card'> <%= lesson.start_date_time.strftime("%d %b %Y") %></div>
              <%= render 'lesson_card', lesson: lesson %>
            <% else %>
              <%= render 'lesson_card', lesson: lesson %>
            <% end %>
          <% end %>
        </div>
    <% end %>
     <% if !@lessons.empty? %>
      <%== pagy_bootstrap_nav(@pagy, link_extra: 'data-action="click->lesson#displayLessons" data-remote="true"') %>
    <% end %>
  </div>
  