<div class='charts-container'>
  <div class='charts'>
    <% Groupdate.time_zone = "Asia/Singapore" %>
    <h3>Bookings</h3>
    <%= column_chart @data.group_by_day { |order| order.created_at }.map { |date, orders| [date.strftime("%d %b"), orders.count] }.to_h, width: "500px", height: "300px", colors: ["#ff3d00", "#ff5d03"] %>
  </div>
  <div class='charts'>
    <h3>Revenue</h3>
    <%= line_chart  @data.group_by_day { |order| order.created_at }.map { |date, orders| [date.strftime("%d %b"), orders.map { |order| order.amount_cents }.sum.to_f / 100] }.to_h, discrete: true, width: "500px", height: "300px", colors: ["#ff3d00", "#ff5d03"], prefix: "$" %>
  </div>
</div>
