<div class='container'>

  <div class="coach-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @sport.picture_url %>)">
    <h1><strong><%= @sport.name.capitalize %> Coaches</strong></h1>
  </div>

  <%= render( partial: 'coaches/coachfilterform' ) %>
  <%= render( partial: 'coaches/coachlist', locals: { coaches: @coaches }) %>
 </div>
