.banner {
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 100vh;
  color: $text-color;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dcwfy3dua/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1640002842/sportmelite/pexels-li-sun-2294361_ob5hiw.jpg');
}

.landing-navbar {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner p {
  font-size: 15px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-container {
  position: relative;
  top: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-details {
  padding-top: 200px;
  width: 50%;
  text-align: center;
}

.banner-sub-details {
  padding-top: 10px;
}

@media (max-width: $breakpoint-width-bootstrap-sm) {
  .banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dcwfy3dua/image/upload/v1642236711/sportmelite/photo-1590487988256-9ed24133863e_trfdbr.jpg');
    padding-top: 0;
  }

  .banner-details {
    padding-top: 100px;
    width: 65%;
  }
}
