.banner {
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  height: 100vh;
  color: $text-color;
}

.landing-navbar {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner p {
  font-size: 15px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-container {
  position: relative;
  top: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-details {
  padding-top: 200px;
  width: 50%;
  text-align: center;
}

.banner-sub-details {
  padding-top: 10px;
}
