.btn-flat {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background: var(--primary-color);
  transition: background 0.3s ease;

  &:hover {
    background: var(--primary-dark-color);
    color: white;
  }
}

.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: 1px solid var(--primary-color);
  transition: 200ms ease;

  &:hover {
    background-color: var(--primary-dark-color);
    color: var(--button-text-color-hover);
    border: 1px solid var(--primary-dark-color);
  }

  &:disabled {
    background-color: var(--primary-dark-color);
    border: none;
  }

  &:focus {
    background-color: $dark-orange !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }

   &:active {
    background-color: $dark-orange !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }
}

.btn-secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-dark-color);
    color: var(--button-text-color-hover);
    border: 1px solid var(--primary-dark-color);
  }

  &:focus {
    background-color: var(--primary-dark-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }

   &:active {
    background-color: var(--primary-dark-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }
}

.back-btn {
  color: var(--primary-color);
  padding: .5rem 0;
  transition: 0.3s ease;
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
    color: var(--primary-dark-color);
  }
}

.btn-unavailable {
  padding: 8px 24px;
  border-radius: 4px;
  background:#3333;
  text-align: center;
  width: 9rem;
}

.banner-btn {
  background: var(--primary-color);
  font-size: 20px;
  transition: 0.3s ease;

  &:hover {
    text-decoration: none;
    transform: translateY(-5px);
    background: var(--primary-dark-color);
  }
}

.google-signin-btn{
  background-image: image-url('btn_google_signin_dark_normal_web.png');
  background-size: cover;
  font-size: 1.1rem;

  img {
    margin: .5rem 0;
  }

  img:hover {
    background-image: image-url('btn_google_signin_dark_focus_web');
  }
}

.scroll-flex {
  display: flex;
  justify-content: flex-end;
}

//pagination buttons
.pagy-bootstrap-nav {
  margin-top: 1rem;

  .page-link  {
    background-color: var(--background-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .page-link:focus {
    box-shadow: none;
  }

  .page-link:hover {
    background-color: var(--primary-dark-color);
    color: var(--text-color);
    border-color: var(--primary-color);
  }

  .page-item.active .page-link {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-color: var(--primary-color);
  }

  .page-item.disabled .page-link {
    background-color: var(--background-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 0.5;
  }
}

#scrollToTopBtmBtn {
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--background-color-light);
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  transition: all .5s ease;
  transform: translateY(100px);

  .fas.fa-angle-double-up {
    text-align: center;
    width: 100%;
  }

  &.showBtn {
    opacity: .6;
    transform: translateY(0);
  }
  &.showBtn:hover {
    opacity: 1;
  }
}

#homeScrollBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-color);
  // background-color: var(--background-color-light);
  z-index: 99;
  transition: .4s ease;
  animation: bounce 2s ease infinite;

  .fas.fa-angle-double-down {
    text-align: center;
    width: 100%;
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@media (max-width: $breakpoint-width-medium) {
  #scrollToTopBtmBtn {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.6rem;
    bottom: 2rem;
  }

  .btn-flat {
    padding: 0.5rem 1.2rem;
  }
}


@media (max-width: $breakpoint-width-bootstrap-sm) {
  #scrollToTopBtmBtn {
    height: 2rem;
    width: 2rem;
    font-size: 1.4rem;
  }

  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 80%;

  .btn-flat {
    padding: 0.5rem 1rem;
    font-size: .8rem;
  }
}
