.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  background: var(--primary-color);
  transition: background 0.3s ease;

  &:hover {
    background: var(--primary-dark-color);
    color: white;
  }
}

.btn-primary {
  background-color: var(--primary-color);
  color: black;
  border: 1px solid var(--border-color);
  transition: 200ms ease;

  &:hover {
    background-color: var(--primary-dark-color);
    color: white;
    border: 1px solid var(--border-color);
  }

  &:focus {
    background-color: $dark-orange !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }

   &:active {
    background-color: $dark-orange !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }
}

.btn-secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover {
    background-color: var(--primary-dark-color);
    color: white;
    border: 1px solid var(--primary-dark-color);
  }

  &:focus {
    background-color: var(--primary-dark-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }

   &:active {
    background-color: var(--primary-dark-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: none !important;
  }
}

.back-btn {
  color: var(--primary-color);
  padding: .5rem 0;
  transition: 0.3s ease;
  font-size: 1.2rem;

  &:hover {
    text-decoration: none;
    color: var(--primary-dark-color);
  }
}

.btn-unavailable {
  padding: 8px 24px;
  border-radius: 4px;
  background:#3333;
  text-align: center;
  width: 9rem;
}

.banner-btn {
  background: var(--primary-color);
  font-size: 20px;

  &:hover {
    text-decoration: none;
    background: var(--primary-dark-color);
  }
}

.google-signin-btn{
  background-image: image-url('btn_google_signin_dark_normal_web.png');
  background-size: cover;
  height: 2rem;
  width: 10rem;
}

.back-btn {
  font-size: 20px;
  color: var(--primary-color);
}
