#calendar {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 1200px;
    background-color: var(--background-color-light);
    padding: 2rem;
    border-radius: 8px;
  }

//header-button
.fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
}

.fc .fc-button-primary:focus {
  box-shadow: none !important;
}

//list view
tr.fc-list-event:hover{
  color: var(--text-color);
}

tr.fc-list-day {
  background-color: var(--background-color-light) !important;
}

.fc-list-day-cushion.fc-cell-shaded a{
  color: var(--text-color);
}

.fc .fc-list-sticky .fc-list-day > * {
  background-color: var(--background-color-hover) !important;
}

//week/day view
.fc-timegrid-slot {
  color: var(--text-color);
}

.fc-toolbar-title {
  color: var(--text-color);
}
.fc-col-header-cell-cushion {
  color: var(--text-color);
}

.fc-daygrid-day-number {
  color:var(--text-color);
}

.fc-daygrid-event {
  color: var(--primary-color);
}

//tooltip css
.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  color: var(--background-color);
  width: 150px;
  border-radius: 3px;
  text-align: center;
}

.tooltip-inner {
  color: var(--text-color);
  background-color: var(--background-color-hover);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bs-tooltip-top .arrow::before {
    border-bottom-color: var(--background-color-hover);   
    border-top-color: var(--background-color-hover);   
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: var(--background-color-hover);   
  border-top-color: var(--background-color-hover);
}

//popover in mobile mode

.fc-theme-standard .fc-popover-header {
  background: var(--background-color-hover);
}

//media query for header
@media (max-width: $breakpoint-width-bootstrap-sm) {
  .fc .fc-toolbar-title {
    font-size: 1.2rem !important;
  }
  .fc-toolbar.fc-header-toolbar, .fc-toolbar.fc-footer-toolbar {
    font-size: 80%; 
  }
}
