#calendar {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 1200px;
    overflow-x: auto;
    overflow-y: auto;
  }
  
.fc-timegrid-slot {
    color: white;
}

.fc-toolbar-title {
    color: white;
}