// .carousel-indicators {
//   bottom: -2.4375rem;
// }
// .carousel-indicators li {
//   // background-color: #ccc;
// }

// .carousel-control-prev {
//   left: -8rem;
//   font-size: 2rem;
//   color: $primary-color;
// }

// .carousel-control-next {
//   right: -8rem;
//   font-size: 2rem;
//   color: $primary-color;
// }


.carousel-indicators {
  bottom: -2.4375rem;
  padding-bottom: 10px;
  li {
    background-color: var(--text-color);
  }
}

.carousel-control-prev {
  left: 0;
  font-size: 2rem;
  color: var(--primary-color);
}

.carousel-control-next {
  right: 0;
  font-size: 2rem;
  color: var(--primary-color);
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev {
  justify-content: flex-start;
}

.mobile.sport-list {
  display: none;
}

@media (max-width: $breakpoint-width-bootstrap-sm) {
  #myCarousel {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

  .mobile.sport-list {
    display: block;
  }

  .sport-card {
    margin: 10px 15px;
  }
}
// .coach-carousel-inner {
//   padding: 60px 40px;
//   margin-bottom: 30px;
// }

// .coach-carousel-indicators {
//   bottom: -150px;
//   padding-bottom: 5px;

// }
