.carousel-indicators {
  bottom: -2.4375rem;
}
.carousel-indicators li {
  // background-color: #ccc;
}

.carousel-control-prev {
  left: -8rem;
  font-size: 2rem;
  color: $dark-orange;
}

.carousel-control-next {
  right: -8rem;
  font-size: 2rem;
  color: $dark-orange;
}
