.coach-banner {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.coach-cards {
  // flex-grow: 1;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  // padding: 0px 0;
}
.coach-card {
  // overflow: hidden;
  display: flex;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--background-color-hover);
  //
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // align-items: center;
  // transition: ease 0.3s;
  color: var(--text-color);

  p {
    margin: 0;
    padding: auto;
  }

  &:hover {
    transform: translateY(-5px);
    border: 2px solid var(--primary-color);
    color: var(--text-color);
  }
}

.coach-image {
  height: 100%;
}

.coach-image img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  object-position: top;
}

// .coach-card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

.coach-card p {
  font-size: 14px;
}

.coach-card-infos {
  background: var(--background-color-light);
  // background: white;
  width: 100%;
  padding: 5px;
  overflow: hidden;
}

@media (max-width: $breakpoint-width-bootstrap-sm) {

  .coach-cards {
    grid-template-columns: 1fr;
    width: 80%;
    align-items: center;
    justify-content: center;
  }

  .coach-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .coach-card-infos {
    // width: 232px;
  }
}
