.footer {
  background: #313332;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  color: $primary-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 6rem;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $primary-color;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.8;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-subscribe {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-top: 20px;
  width: 300px;
  h2 {
    font-size: 1.2rem;
    font-weight: $light;
  }
}

.btn-primary-footer {
  background-color: $primary-color;
  color: black;
  transition: 200ms ease;

  &:hover {
    background-color: $primary-dark-color;
    color: white;
    border: 1px solid black;
  }

  &:focus {
    background-color: $dark-orange !important;
    border: 1px solid white !important;
    box-shadow: none !important;
  }

   &:active {
    background-color: $dark-orange !important;
    border: 1px solid white !important;
    box-shadow: none !important;
  }
}


@media (max-width: $breakpoint-width-medium) {
  .footer {
    flex-direction: column;
    max-height: 15rem;
  }
  .footer-links {
    padding: 10px 0px;
  }
  .footer-copyright {
    padding: 10px 0px;
  }
  .footer-subscribe {
    padding: 10px 0px;
  }
}
