.header {
  margin: 1rem 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.form {
  animation: appear 500ms ease-in;
}



@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
