.form {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: appear 500ms ease-in;
  color: black
}

.d-none {
  display: none;
}

.fixed-modal {
  position: fixed;
  max-width: 40rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 1;
}

.modal-content {
  border-radius: 8px !important;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// simple_form css

.simple_form {
  color: $text-color;
  background-color: $background-color;
}

.form-control {
  background-color: $background-color;
  color: $text-color;
}

.form-control.is-valid {
    border-color: $primary-color;
    background-color: $background-color;
    color: $text-color;
  }


