.form {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: appear 500ms ease-in;
  color: black
}

.filter-input {
  width: auto;
  height: 2rem;
  padding: 0;  
  margin-left: .5rem;
}

.d-none {
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// simple_form css

.simple_form {
  color: var(--text-color);
  background-color: var(--background-color);
}

.form-control {
  background-color: var(--background-color);
  color: var(--text-color);
}

.form-control.is-valid {
    border-color: var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color);
  }


