.navbar-lewagon {
  justify-content: space-between;
  background: $primary-color;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.flex {
  display: flex;
  align-items: center;

  h3 {
    font-weight: bold;
  }
}

.nav-link {
  margin: 0 .5rem;
  color: white !important;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: white;
    transition: width .4s ease-in;
  }
  &:hover::after {
    width: 100%;
  }

  &.active::after {
    content: '';
    display: block;
    width: 100% !important;
    height: 1.5px;
    background: white;
  }
}

.hide {
  display: none;
}

.dropdown-menu {
  animation: slide-down 400ms ease-in;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-60px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.custom-switch {
  padding-top: 8px;
  padding-right: 8px;
  font-size: 12px;
}
