.navbar-lewagon {
  justify-content: space-between;
  // background: linear-gradient(to right, $primary-light-color , $primary-dark-color);
  // background-color: rgba(0, 0, 0, 0.5);
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  height: 60px;
}

.flex {
  display: flex;
  align-items: top;

  h3 {
    font-weight: bold;
  }
}

.nav-link {
  margin: 0;
  color: white !important;
  font-weight: 500;
  font-family: "Flama Ultracondensed Black",sans-serif;;
  font-size: 15px;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: white;
    transition: width .4s ease-in;
  }
  &:hover::after {
    width: 100%;
  }

  &.active::after {
    content: '';
    display: block;
    width: 100% !important;
    height: 1.5px;
    background: white;
  }
}

.hide {
  display: none;
}

.dropdown {
  cursor: pointer;
}

.dropdown-menu {
  animation: slide-down 400ms ease-in;
  transform-origin: top;
}

.dropdown-item {
  padding: 0.25rem 1.5rem;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: scaleY(0)

  }
  to {
    opacity: 1;
    transform: scaleY(1)
  }
}
.custom-switch {
  padding-top: 8px;
  padding-right: 8px;
  font-size: 12px;
  margin: 0;
  color: white !important;
  font-weight: 500;
  font-family: "Flama Ultracondensed Black",sans-serif;
}

.custom-control-input:focus ~
.custom-control-label::before {
  border-color: transparent !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.custom-control-input:checked ~
.custom-control-label::before {
  border-color: transparent !important;
  background-color: $dark-orange !important;
}

.navbar_home-lewagon {
  justify-content: space-between;
  // background: linear-gradient(to right, $primary-light-color , $primary-dark-color);
  // background-color: rgba(0, 0, 0, 0.5);
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: transparent;
}

.navbar_home-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar_home-lewagon .navbar-brand img {
  width: 120px;
  height: 60px;
}
