.navbar {
  justify-content: space-between;
  background-color: var(--navbar-background-color);

  li {
    list-style-type: none;
  }
}

.navbar-logo img {
  width: 120px;
  height: 60px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-links-group {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 0;
  color: var(--text-color) !important;
  font-weight: $light;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--text-color);
    transition: width .4s ease-in;
  }
  &:hover::after {
    width: 100%;
  }

  &.active::after {
    content: '';
    display: block;
    width: 100% !important;
    height: 1px;
    background: var(--text-color);
  }
}

.hide {
  display: none;
}

.dropdown {
  cursor: pointer;
}

.dropleft {
  &:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.dropdown-menu {
  animation: slide-down 400ms ease-in;
  transform-origin: top;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);

  .dropdown-item {
    padding: 0.25rem 1.5rem;
    color: var(--text-color);
  }

  .dropdown-item:hover {
    background-color: var(--background-color-hover);
  }
}

.navbar-toggler {
  color: var(--text-color) !important;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: scaleY(0)

  }
  to {
    opacity: 1;
    transform: scaleY(1)
  }
}
.custom-switch {
  padding-top: 8px;
  padding-right: .5rem;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: var(--text-color) !important;
}

.custom-control-input:focus ~
.custom-control-label::before {
  border-color: transparent !important;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0) !important;
}

.custom-control-input:checked ~
.custom-control-label::before {
  border-color: transparent !important;
  background-color: $dark-orange !important;
}

.mobile-profile {
  display: none;
  margin: 0;
  color: var(--text-color) !important;
  font-weight: 300;
  font-size: 18px;
  padding: .5rem 0;
}

@keyframes show-nav-links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: $breakpoint-width-bootstrap-sm) {
  //change display for active class
  .nav-link {  
    &::after {
      display: none;
    }
    &:hover::after {
      display: none;
    }

    &.active::after {
      display: none;
    }
  
    &.active {
      color: var(--text-color-active) !important;
    }
  }

  .dropleft {
    .dropdown-toggle::before {
      display: none;
    }
    // &:hover .dropdown-menu {
    //   display: none;
    // }
  }

  .avatar {
    display: none;
  }

  .expanded-notification {
    display: none;
  }

  .custom-switch {
    position: absolute;
    top: 4rem;
    right: 0;
  }

  .mobile-profile {
    display: block;
  }

  .dropdown-menu {
    border: none;
  }
}
