// $primary-color: #1A237E;
$primary-color: #ff5d03;
$primary-light-color: #ff5d03;
$primary-dark-color: #ff3d00;
$secondary-color: #1EDD88; // not in use
$secondary-dark-color: #1BCB7F; // not in use
$accent-color:#EE6C4D; // not in use
$danger-color: #A10000; // not in use
$background-color:#0A0F0D; // not in use

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-wrap: break-word;
}

:root {
  font-size: 16px;
  line-height: 1.6;
}

.container {
  margin-bottom: 1rem;
}

a:-webkit-any-link {
    text-decoration: none; // removes links underline and default blue color
}
