// $primary-color: #1A237E;
$primary-color: #FC6B26;
$primary-light-color: #FDAB83;
$primary-dark-color: #fa590f;
$secondary-color: #1EDD88;
$secondary-dark-color: #1BCB7F;
$accent-color:#EE6C4D;
$danger-color: #A10000;
$background-color:#E0FBFC;

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-wrap: break-word;
}

:root {
  font-size: 16px;
  line-height: 1.6;
}

body {
  background-color: rgb(247, 247, 247);
}

.container {
  margin-bottom: 1rem;
}
