.sport-card {
  background-size: cover;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px;
  transition: ease 0.3s;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    transform: translateY(5px);
  }
}

.sport-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
}
