<div class='form container'>
  <div class='header header-flex'>
    <h2>Add a review</h2>
    <%= link_to "Back", :back, class:"back-btn" %>
  </div>
  <%= render "form", lesson: @lesson, review: @review %>
</div>
