<div class="location-info" id="location-<%= location.id %>" style='color: black'>
  <h3><%= location.name %></h3>
  <div class="d-flex">
    <% location.sports.uniq.each do |sport| %>
      <button class="material-icons mr-1",
              id="sport-<%= sport.id %>"
              data-action="click->search-location-lessons#displayLessons">
      <%= sport_icon(sport.name) %></button>
    <% end %>
  </div>
</div>
