<div class="location-info" style='color: black'>
  <h3><%= location.name %></h3>
  <div class="d-flex">
    <% location.sports.uniq.each do |sport| %>
      <button class="material-icons mr-1 button">,
      <%# data-search-location-lessons-target = 'selection',
      data-search-location-lessons-action = "click->search-location-lessons#createlist" }> %>
      <%= sport_icon(sport.name)%></button>
    <% end %>
  </div>
</div>
