<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Sport
    <%= f.select(
      :with_sport,
      @filterrific.select_options[:with_sport],
      { include_blank: '- Any -' }
    ) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
<% end %>
