<%= form_for_filterrific @filterrific do |f| %>
  <div class='filter-options'>
    <div class="filter-option">
      Sport:
      <%= f.select(
        :with_sport,
        @filterrific.select_options[:with_sport],
        { include_blank: '- Any -' },
        class:'form-control filter-input m-2 text-center'
      ) %>
    </div>

    <div class="filter-option">
      Location:
      <%= f.select(
        :with_location,
        @filterrific.select_options[:with_location],
        { include_blank: '- Any -' },
        class:'form-control filter-input m-2 text-center',
        data: {
          search_location_lessons_target: "filter",
          action: 'change->search-location-lessons#displayLocationLessons'
        }
      ) %>
    </div>

    <div class="filter-option">
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
        class:'reset-filter'
      ) %>
    </div>
  </div>

<% end %>
