<div class="container">
  <div class="lesson-map" data-controller = "search-location-lessons">
    <div class="filters">
      <%= render( partial: 'locations/location_filter' ) %>
    </div>
      <%= render( partial: 'locations/map', locals: { markers: @markers } ) %>
    </div>
  </div>
</div>
