  <form id="#calendar_list">
    <input class="checkbox" type="checkbox" data-action='click->lesson#toggleGoogleEvents'>Display Google events<br> 
  </form>
  <div id='calendar' data-events="<%= @lessons_json %>" data-google-events="<%= @google_events %>"><div class="spinner hide"></div></div>
  <div class="collapse" id="selectDate" class='m2'>
    <form>
      <input id='selectDateInput' type='date'>
    </form>
  </div>