 <div data-lesson-target='lessonsList'>
    <% if @lessons.empty? %>
      <div class='lesson-header-links'>
        <h4>No lessons available</h4>
      </div>
      <% else %>
        <div>
         <% date = "" %>
          <% @lessons.each do |lesson| %>
          <% if lesson.start_date_time.localtime.strftime("%d %b %Y") != date %>
            <div class='accounts-date-card'> <%= lesson.start_date_time.localtime.strftime("%d %b %Y") %></div>
            <%= render 'lesson_card', lesson: lesson %>
            <% date = lesson.start_date_time.localtime.strftime("%d %b %Y") %>
            <% else %>
              <%= render 'lesson_card', lesson: lesson %>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div>